.post-container{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: fit-content;
    margin: 5% 0% 0% 5%;
    
}
.post-header,h2{
    color: blue;
}
.post-content{
    display: flex;
    flex-direction: row;
}

.update-btn-container{
width: fit-content;
}

.update-btn{
    background-color: rgb(252, 89, 89);
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}
